body {
    background-image: url(./assets/bg2.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #22626b;
}

main * { 
    border: 1px solid red;
}

main { 
    max-width: 580px;
    width: 90%;
    margin: auto;

}